@import "tailwindcss";

:root {
	--font-sans: "Inter", sans-serif;
	--font-heading: "Poppins", sans-serif;
	--header-height: 120px;
}

body {
	font-family: var(--font-sans);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@media (max-width: 768px) {
	:root {
		--header-height: 100px;
	}
}

/* If you have a sticky header, you might also need this for smooth scrolling */
html {
	scroll-behavior: smooth;
}
